/* Samira's CSS File */

/* SIL Open Font License v1.10 This license can also be found at this permalink: https://www.fontsquirrel.com/license/montserrat */

@font-face {font-family: 'MontserratAlternates-Regular'; src: url(MontserratAlternates-Regular.ttf);
font-weight: normal;
font-style: normal; }

html {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'MontserratAlternates-Regular', verdana, arial, sans-serif;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: IndianRed;
    position: relative;
    flex-direction: column;

}
.main {
    width: 100%;
/*    min-height: 100%;*/
    padding-bottom: 100px;
    background-color: IndianRed;
    position: relative;
    flex-grow: 1;


  }

.main.home {
  background-image: url("images/volcanohomepage.webp");
  background-size: cover;

}

.header,img {
     width: 100%

}

.nav {
    width: 100%;
    display: flex; 
    


}


.nav-button {
    background-color: red;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 10px;
    /* the cursor is to make the navigation pointer look more professional */
    cursor: pointer;
    /* the point of the transition is so that the nav bar does not immediatly darken (the red color will take longer to fade a bit signalling that the button is being pressed) */
    transition: 0.20s
    
     

}

.nav-button:hover {
        background-color: #FE6F6F;

}

.main-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-img {
    margin-right: 60px;
}

.main-text {
   color: white;
   width: 410px;
   text-align: justify;
   margin-left: 15px;
   background-color: rgba(148, 3, 3, 0.2);
   padding: 10px;
}


.nav-dropdown {
     display: none;
     width: 200px;
     z-index: 10000000;
     position: relative;
}

#nav-dropdown-button:hover  .nav-dropdown {
       display: flex;
       flex-direction: column; 
     


}


.nav-types {
      text-decoration: none;
      color: white;
      background-color: rgba(148, 3, 3, 0.2);
      font-size: 14px;
      width: 100%;

}


.image-text-div {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

.text-div {
    width: 50%;
    text-align: justify;
    margin-left: 20px;
    color: white;

}
.image-div {
     width: 30%;
     margin-right: 100px;

}

.image-link {
      margin-right: 40px;
      width: 100%;

}

footer {
   width: 100%;
   /* the 'fixed' is so that the footer does not move on the home page */
   bottom: 0; 
   width: 100%;
   color: white;
   position: absolute;
   background-color: rgba(148, 3, 3, 0.2);


}

a {
   color: orange;
   position: relative;

}

/* the point of these different pages is so I can change the background color for each page */

.main.cinder-cones {
     background-color: #ed9061;
}

.main.shield-volcanoes {
    background-color: #ed9061;
}

.main.composite-volcanoes {
    background-color: #ed9061;
}

.main.lava-domes {
    background-color: #ed9061;
}

.main.contactvolcanoes {
    background-color: #910909;
}

.main.references {
    background-color: #910909;
    color: white;
    font-size: 15px;


}

.volcano-grid {
    display: flex;
    flex-wrap: wrap;

}

.grid-element {
     flex-basis: 45%;
     max-height: 500px;
     margin: 30px;
     color: white;
     text-align: center;

}

.grid-element img {
    max-height: calc(100% - 50px);
    max-width: calc(100% - 50px);
    width: auto;
    height: auto;


}


.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgba(148, 3, 3, 0.4);
    color: white;
}




























